{% extends "base.html" %}

{% block title %}Activities{% endblock %}

{% block body %}
<div class="activity_item1">
    <div class="act_container">
        <div class="img_cont1"><a href="{% url 'meditation_exercise' %}">Meditation / Yoga</a></div>
    </div>
    <div class="act_para">
        <p class="para_act">
            Yoga and meditation are essential for a healthy, balanced life. Yoga boosts physical fitness,
            energy, and mood, while meditation reduces stress, enhances focus, and fosters emotional resilience.
            Together, they improve overall well-being, helping you stay strong, calm, and positive in daily life.</p>
    </div>
</div>
<div id="act_rev" class="activity_item">
    <div class="act_para">
        <p class="para_act">CBT-inspired skill-building exercises, like reframing negative thoughts or identifying
            cognitive distortions, are crucial for mental well-being. They help individuals recognize and challenge
            unhelpful thinking patterns, fostering a more positive and realistic mindset. These skills enhance emotional
            resilience, reduce stress, and improve decision-making, empowering people to navigate life's challenges with
            clarity and confidence.</p>
    </div>
    <div class="act_container">
        <div class="img_cont2"><a href="{% url 'SBE' %}">Skill Building Exercise</a></div>
    </div>
</div>
<div class="activity_item">
    <div class="act_container">
        <div class="img_cont3"><a href="{% url 'selfcare' %}">Selfcare</a></div>
    </div>
    <div class="act_para">
        <p class="para_act">Self-care is essential for maintaining physical, mental, and emotional well-being. It helps
            reduce stress, boosts self-esteem, and prevents burnout by ensuring you prioritize your needs. Taking time
            for self-care improves focus, resilience, and overall happiness, enabling you to better handle challenges
            and care for others effectively.</p>
    </div>
</div>
<div id="act_rev2" class="activity_item">
    <div class="act_para">
        <p class="para_act">Mini-games can be powerful tools for boosting mental health, offering a fun and interactive
            way to reduce stress, improve focus, and boost mood. They can enhance cognitive skills, like problem-solving
            and memory, while providing a sense of accomplishment. Some mini-games are designed to teach coping
            strategies, promote mindfulness, or encourage relaxation, making them effective in supporting emotional
            well-being and managing anxiety.</p>
    </div>
    <div class="act_container">
        <div class="img_cont4"><a href="{% url 'mini_games' %}">Mini-Games</a></div>
    </div>
</div>
{% endblock %}