{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="home">
    <div class="task"></div>
    <div class="quotes_container">
        <div class="slideshow-container">
            <img class="slide" src="static/CSS/images/Image 1.jpg" alt="Image 1">
            <img class="slide" src="static/CSS/images/Image 2.jpg" alt="Image 2">
            <img class="slide" src="static/CSS/images/Image 3.jpg" alt="Image 3">
            <img class="slide" src="static/CSS/images/Image 4.jpg" alt="Image 4">
            <img class="slide" src="static/CSS/images/Image 5.jpg" alt="Image 5">
            <img class="slide" src="static/CSS/images/Image 6.jpg" alt="Image 6">
            <img class="slide" src="static/CSS/images/Image 7.jpg" alt="Image 7">
        </div>
    </div>
</div>
{% endblock %}