{% extends "base.html" %}

{% block title %}Meditation / Yoga{% endblock %}

{% block body %}
<div class="importance_of_meditation">
    <h1 class="medit">The benefits of meditation and yoga</h1>
    <p class="medp">Yoga and meditation are two forms of physical and mental exercises which have stood the test of time. Dating back
        thousands of years, these practises remain popular today and are, in many ways, more relevant in modern times.
        The ability to switch off and clear your mind is invaluable, and this can be achieved in both practises. In this
        article, we’ll look at the benefits of yoga and meditation.</p>
    <br>
    <h1 class="medit_h1">What is Meditation?</h1>
    <p class="medp">
        Meditation, like yoga, has become extremely popular in recent years. With an increasing amount of people seeking
        a healthier and more holistic lifestyle, many have taken up the practice for overall well-being. But it is much
        more than prayer, or a moment alone with your thoughts. It is a form of training that many accept as a way of
        life, that frees us from worries and discomfort, helping us to achieve a level of happiness and contentment.
        <br>
        <br>
        You will become more aware and develop a greater sense of perspective without changing yourself. Those who
        meditate can observe without passing judgment, but with a greater understanding of the bigger picture.
        <br>
        <br>
        We were fortunate enough to speak to Giovanni Dienstmann, writer, meditation teacher, coach and creator of Live
        and Dare. Giovanni explained what meditation is and what it means for your body and your mind:
        <br>
        <br>
        “Meditation is a practice that has several benefits for your body, mind, emotions, and spirituality. For your
        body, it releases stress, calms down the nerves, and thus prevents many different types of illnesses—as stress
        is said to be responsible for up to 80% of the visits to the doctor. For your mind, it increases your power of
        attention, self-awareness, memory and resilience—making you better at learning and decision-making. For your
        emotional life, meditation helps you manage anxiety, depression, fear and other mood disorders; it also
        increases emotional intelligence and positive moods.”
    </p>
    <h2>The benefits of Meditation</h2>
    <p class="medp">Meditation has been extremely popular for thousands of years. More and more people are taking up the practice as
        an ever-increasing number discover the wide number of benefits to your physical, mental and spiritual self. You
        might practise the most basic forms of meditation without realising. Have you ever told someone to just take a
        deep breath and relax? Or been asked to do it yourself? It is a similar process and can really help.
        <br>
        <br>
        Similarly, there are both short-term and long-term benefits of meditation ranging from easing health problems to
        achieving a sense of calm. Relaxing and trying to achieve a sense of calm is something that most of us take for
        granted. But consider these benefits the next time you feel overworked or stressed out and try adopting
        meditation into your day-to-day life.
    </p>
    <ul>
        <li>
            <h3>Meditation reduces stress</h3>
            <p class="medp2">Many of us deal with stress on a daily basis but just accept it, thinking it is just a part of life.
                However, it can build up to cause serious health problems. Feeling stressed can negatively affect your
                sleep, increase blood pressure and make you feel anxious and even depressed. But meditation has been
                known to help.</p>
            <img src="/static/CSS/images/med.jpeg" alt="meditation">
            <p>Lynne Goldberg is a Meditation coach and the co-founder of Breethe, an app that acts as your very own
                mindfulness coach. Lynne was kind enough to tell us how meditation can help combat stress: “Meditation
                is the antidote to stress. When we are stressed, our bodies release cortisol and adrenalin. Meditation
                actually releases feel-good hormones like serotonin and oxytocin, the ‘love’ hormone. It normalizes our
                blood pressure as well as our heart rate. Our Breethe app can help you achieve this benefit for your
                body and mind in as little as 10 minutes a day. We will help you get your practice started by giving you
                instruction as well as meditation in our simple easy to use format.”</p>
        </li>
        <li>
            <h3>It helps clear your mind</h3>
            <p class="medp2">
                Those who practice meditation regularly will tell you how it has helped them to clear their mind. It can
                wipe away the negative thoughts that have been passing through your head during the day as if you have
                just hit the refresh button. It was the main benefit that Paul Harrison, writer and meditation
                specialist with more than ten years’ experience, mentioned when speaking with us. Paul’s blog, The Daily
                Meditation, is a comprehensive resource and online meditation course. “There are more than 100 proven
                benefits of meditation,” said Paul. “The best thing about meditation is that it restores your mind. The
                mind naturally knows how to be healthy. On The Daily Meditation, I often discuss how the mind naturally
                knows how to be healthy. However, the stresses and the constant information overload of the 21st Century
                bombard the mind so its function is impaired. Meditation silences all the noise and cleans out the mind
                so that it can once again function in a healthy, effective way.”
            </p>
        </li>
        <li>
            <h3>Meditation has a number of physical benefits</h3>
            <p class="medp2">
                As well as a greater sense of happiness and calm, meditation can also benefit you physically. People
                devoted to meditation will tell you how extended practice will give your body more prana (energy). On
                top of this, it has been known to lower both your blood pressure and the levels of lactate in your
                system, which reduces your chances of having anxiety attacks. It also has the power to improve your
                immune system, fertility and rid your body of tension-related pains, like headaches and muscular
                problems
            </p>
        </li>
    </ul>
</div>
<div class="activity_meditation">
    <div class="actmed_para">
        <p class="para_medact">
            Immerse yourself in a calming journey with this guided meditation video. Allow the soothing voice and serene
            visuals to help you release stress, find inner peace, and rejuvenate your mind and spirit. Perfect for
            relaxation, mindfulness, or a moment of tranquility in your day.</p>
    </div>
    <div class="actmed_container">
        <div class="vid"><iframe width="560" height="315"
                src="https://www.youtube.com/embed/xRxT9cOKiM8?si=9E1YCmTazoaHPslk" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>
</div>
<hr>
<div class="importance_of_meditation">
    <h1 class="medit_h1">What is yoga?</h1>
    <p class="medp">
        Focusing on strength, flexibility and breathing, yoga is one of the oldest forms of exercise. Originating in
        India more than 5,000 years ago, yoga has been changed over the years and is now a common activity in many gyms
        and fitness centres across the world.
        <br>
        Yoga is mental, physical and spiritual practice with the goal to attain tranquillity in both mind and spirit. It
        is open to interpretation. People will do yoga for a range of reasons. It is often used to improve flexibility,
        whether that is by someone who is extremely active, or someone recovering from injury who needs physiotherapy.
        Others will practise it for its holistic benefits.
        <br>
        Although yoga is now something that people do in their spare time, it was once a way of life. Anyone who
        practiced it was dedicating themselves to a particular lifestyle. This is the reason why many people ask if yoga
        is a religion. It once extended itself into how you ate, interacted with other people, worked and even bathed.
        Comparisons can be made to those who practise yoga today, who also adopt an overall healthier way of living.
    </p>
    <h2>The benefits of yoga</h2>
    <p class="medp">
        Something doesn’t stay popular for thousands of years if it doesn’t actually benefit you in some way. Many take
        up the practice for mental, spiritual and physical reasons. Here we list just a few of the many benefits of
        yoga.
    </p>
    <ul>
        <li>
            <h3>Yoga can lower stress and improve your mood</h3>
            <p class="medp2">
                Stress can be extremely devastating to both your body and your mind. Though usually just brushed aside,
                if it builds up it can cause some serious health problems. Yoga is known to help you manage and even
                lower stress. Feeling overworked can lead you to suffer from pain in your back and neck, as well as
                develop headaches and sleeping problems.
                <br>
                Practising yoga regularly helps to clear your mind and offers a level of calm, focusing your attention
                on the matter at hand and increases concentration. Many will reserve it for an after-work class, but you
                can also try and fit some stretches in during the morning to offer clarity before you start your day.
                <br>
                With a range of positions and movements, regular yoga practice can increase the levels of serotonin in
                your body. This, balanced with a lack of stress in your everyday life and an overall feeling of clarity,
                can dramatically improve your mood.
            </p>
        </li>
        <li>
            <h3>Yoga has a number of physical benefits</h3>
            <p class="medp2">
                Yoga is known to relax you, which in turn will help to alleviate chronic pains in your joints or with
                headaches. But as well as that, it has been shown that yoga can lower your blood pressure, increase your
                heart rate and even improve your immune system.
                <br>
                Elite athletes have credited yoga for their extended careers. Professional footballers, for example,
                have played on into their forties, thanks to incorporating it into their regular training schedule.
                Practising yoga will make you more flexible, as well as increasing your muscle strength and tone. As a
                beginner, it is also a great way to get into exercise. It improves your circulatory health and
                cardiovascular ability while maintaining a balanced metabolism and even leads to weight loss.
                <br>
                There is almost an endless list of benefits of yoga. You can improve your posture, gain focus, relax,
                sleep better and become physically fitter simply by incorporating this practice into your everyday life.
                Once more, it is something that is very much open to beginners and complete novices. You can do yoga in
                the comfort of your own home, or make new friends at a class at your local gym or leisure centre.
            </p>
        </li>
    </ul>
</div>
<div class="activity_exer">
    <div class="actexer_container">
        <div class="vid"><iframe width="560" height="315"
                src="https://www.youtube.com/embed/COp7BR_Dvps?si=OijKxGnPRwYMIGiU" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>
    <div class="actexer_para">
        <p class="para_medact">Boost your energy and improve your flexibility with this engaging yoga video. Follow
            along with simple, guided movements designed to strengthen your body, enhance your balance, and promote
            relaxation. Perfect for all fitness levels to start or refresh your day.</p>
    </div>
</div>

{% endblock %}