{% extends "base.html" %}

{% block title %}Selfcare{% endblock %}

{% block body %}
<div class="self">
    <p>Selfcare</p>
</div>
<div class="scmh">
    <h1>How to take care of yourself?</h1>
    <p>
        Self-care means taking the time to do things that help you live well and improve both your physical health and
        mental health. This can help you manage stress, lower your risk of illness, and increase your energy. Even small
        acts of self-care in your daily life can have a big impact.
        <br>
        <br>

        Here are some self-care tips:
    </p>
    <ul class="selfcaretips">
        <li>
            <b>Get regular exercise.</b> Just 30 minutes of walking every day can boost your mood and improve your health. Small amounts of exercise add up, so don’t be discouraged if you can’t do 30 minutes at one time.
        </li>
        <li>
            <b>Eat healthy, regular meals and stay hydrated.</b> A balanced diet and plenty of water can improve your energy and focus throughout the day. Pay attention to your intake of caffeine and alcohol and how they affect your mood and well-being—for some, decreasing caffeine and alcohol consumption can be helpful.
        </li>
        <li>
            <b>Make sleep a priority.</b> Stick to a schedule, and make sure you’re getting enough sleep. Blue light from devices and screens can make it harder to fall asleep, so reduce blue light exposure from your phone or computer before bedtime.
        </li>
        <li>
            <b>Try a relaxing activity.</b> Explore relaxation or wellness programs or apps, which may incorporate meditation, muscle relaxation, or breathing exercises. Schedule regular times for these and other healthy activities you enjoy, such as listening to music, reading, spending time in nature, and engaging in low-stress hobbies.
        </li>
        <li>
            <b>Set goals and priorities.</b> Decide what must get done now and what can wait. Learn to say “no” to new tasks if you start to feel like you’re taking on too much. Try to appreciate what you have accomplished at the end of the day.
        </li>
        <li>
            <b>Practice gratitude.</b> Remind yourself daily of things you are grateful for. Be specific. Write them down or replay them in your mind.
        </li>
        <li>
            <b>Focus on positivity.</b> Identify and challenge your negative and unhelpful thoughts.
        </li>
        <li>
            <b>Stay connected.</b> Reach out to friends or family members who can provide emotional support and practical help.
        </li>
    </ul>
</div>
<div class="diet">
    <h1>Healthy diet</h1>
    <p>Eating a healthy, balanced diet is one of the most important things you can do to protect your health. In fact,
        up to 80% of premature heart disease and stroke can be prevented through your life choices and habits, such as
        eating a healthy diet and being physically active.
        <br>
        <br>
        A healthy diet can help lower your risk of heart disease and stroke by:
    </p>
    <ul class="heart">
        <li>improving your cholesterol levels</li>
        <li>reducing your blood pressure</li>
        <li>helping you manage your body weight</li>
        <li>controlling your blood sugar.</li>
    </ul>
    <h2>What does a healthy, balanced diet look like?</h2>
    <p>Canada’s Food Guide recommends eating a variety of healthy foods each day. This includes eating plant-based foods
        more often and choosing highly-processed or ultra-processed foods less often.</p>
    <img src="/static/CSS/images/eat-variety-healthy-foods-image.jpg" alt="diet">
    <p>A healthy diet includes:</p>
    <ul class="main">
        <li>
            <h3>Eating lots of vegetables and fruit</h3>
            <ul>
                <li>
                    This is one of the most important diet habits. Vegetables and fruit are packed with nutrients
                    (antioxidants, vitamins, minerals and fibre) and help you maintain a healthy weight by keeping
                    you full longer.
                </li>
                <li>
                    Fill half your plate with vegetables and fruit at every meal and snack.
                </li>
            </ul>
        </li>
        <li>
            <h3>Choosing whole grain foods</h3>
            <ul>
                <li>
                    Whole grain foods include whole grain bread and crackers, brown or wild rice, quinoa, oatmeal
                    and hulled barley. They are prepared using the entire grain. Whole grain foods have fibre,
                    protein and B vitamins to help you stay healthy and full longer.
                </li>
                <li>
                    Choose whole grain options instead of processed or refined grains like white bread and pasta.
                </li>
                <li>
                    Fill a quarter of your plate with whole grain foods.
                </li>
            </ul>
        </li>
        <li>
            <h3>Eating protein foods</h3>
            <ul>
                <li>
                    Protein foods include legumes, nuts, seeds, tofu, fortified soy beverage, fish, shellfish, eggs,
                    poultry, lean red meats including wild game, lower fat milk, lower fat yogurts, lower fat kefir
                    and cheeses lower in fat and sodium.
                </li>
                <li>
                    Protein helps build and maintain bones, muscles and skin.
                </li>
                <li>
                    Eat protein every day.
                </li>
                <li>
                    Try to eat at least two servings of fish each week, and choose plant-based foods more often.
                </li>
                <li>
                    Dairy products are a great source of protein. Choose lower fat, unflavoured options.
                </li>
                <li>
                    Fill a quarter of your plate with protein foods.
                </li>
            </ul>
        </li>
        <li>
            <h3>Limiting highly and ultra-processed foods</h3>
            <ul>
                <li>
                    Highly processed foods — often called ultra-processed — are foods that are changed from their
                    original food source and have many added ingredients. During processing, often important
                    nutrients such as vitamins, minerals and fiber are removed while salt and sugar are added.
                    Examples of processed food include: fast foods, hot dogs, chips, cookies, frozen pizzas, deli
                    meats, white rice and white bread.
                </li>
                <li>
                    Some minimally processed foods are okay. These are foods that are slightly changed in some way
                    but contain few industrially made additives. Minimally processed foods keep almost all of their
                    essential nutrients. Some examples are: bagged salad, frozen vegetables and fruit, eggs, milk,
                    cheese, flour, brown rice, oil and dried herbs. We are not referring to these minimally
                    processed foods when we are advising you not to eat processed foods.
                </li>
            </ul>
        </li>
        <li>
            <h3>Making water your drink of choice</h3>
            <ul>
                <li>
                    Water supports health and promotes hydration without adding calories to the diet.
                </li>
                <li>
                    Sugary drinks including energy drinks, fruit drinks, 100% fruit juice, soft drinks and flavored
                    coffees have lots of sugar and little to no nutritional value. It is easy to drink empty calories
                    without realizing, and this leads to weight gain.
                </li>
                <li>
                    Avoid fruit juice, even when it is 100% fruit juice. Although fruit juice has some of the benefits
                    of the fruit (vitamins, minerals), it has more sugar than the fruit and less fiber. Fruit juice
                    should not be consumed as alternative to fruits. Canadians should eat their fruits, not drink them.
                </li>
                <li>
                    When safe drinking water is not available, quench your thirst with coffee, tea, unsweetened
                    lower-fat milk, and previously boiled water.
                </li>
            </ul>
        </li>
    </ul>
    <h2>Top 5 tips from the experts</h2>
    <ul class="tips">
        <li>
            Prepare most of your meals at home using whole or minimally processed foods. Choose from a variety of
            different proteins to keep things interesting. Using catchy names for each day can help you plan. Try
            “Meatless Monday” with this meatless recipe.
        </li>
        <li>
            Make an eating plan each week – this is the key to fast, easy meal preparation.
        </li>
        <li>
            Choose recipes with plenty of vegetables and fruit. Your goal is to fill half your plate with vegetables and
            fruit at every meal. Choose brightly coloured fruits and vegetables each day, especially orange and dark
            green vegetables. Frozen or canned unsweetened fruits and vegetables are a perfect alternative to fresh
            produce..
        </li>
        <li>
            Avoid sugary drinks and instead drink water. Lower-fat, unsweetened milk is also a good way to stay
            hydrated. Keep a reusable water bottle in your purse or car so you can fill up wherever you are going.
        </li>
        <li>
            Eat smaller meals more often. Eat at least three meals a day with snacks in between. When you wait too long
            to eat you are more likely to make unhealthy food choices. Keep easy-to-eat snacks in your purse or bag for
            emergencies.
        </li>
    </ul>
</div>
<div class="self_care">
    <div class="f">
        <iframe src="https://embed.ted.com/talks/vikram_patel_mental_health_for_all_by_involving_all?subtitle=en"
            width="1024px" height="576px" title="Mental health for all by involving all" frameborder="0" scrolling="no"
            allowfullscreen onload="window.parent.postMessage('iframeLoaded', 'https://embed.ted.com')"></iframe>
    </div>
    <div class="p">
        <p>Explore how collective efforts can transform mental health in this inspiring video. Highlighting the
            importance of community support, inclusion, and shared responsibility, it emphasizes that mental well-being
            is a journey we take together. Let’s make mental health accessible for everyone, with everyone.</p>
    </div>
</div>
{% endblock %}