*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
:root{
    --bg-color: rgb(228, 245, 222);
    --secondary-bg-color: rgb(229, 152, 156);
    --tertiary-bg-color: rgb(69, 123, 157);
    --quaternary-bg-color: rgb(241, 250, 238);
    --text-color: rgb(0, 0, 0);
    --main-color: rgb(167, 218, 220);
    --quote-color: rgb(204, 237, 192);
}
body{
    background-color: var(--quaternary-bg-color);
}
/* ----------------------------------------------------------Header---------------------------------------------------- */
header{
    height: 3rem;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0rem 12%;
}

.name h1 a{
  text-decoration: none;
  color: var(--text-color);
}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon{
    font-size: 1.5rem;
    color: var(--text-color);
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar a{
    width: 5.5rem;
    text-align: center;
    text-decoration: none;
    margin-left: 2rem;
    color: var(--text-color);
    background-color: var(--tertiary-bg-color);
    padding: 0.35rem;
    border-radius: 5px;
    font-weight: 600;
}
.icon{
    margin-left: 2rem;
    border-radius: 50%;
}
#profile{
    font-size: 32px;
    height: 3rem;
    width: 3rem;
    text-align: center;
    position: relative;
    left: 1rem;
    top: 1rem;
    background-color: var(--main-color);
    border: 2px solid black;
}
/* --------------------------------------------------------Footer---------------------------------------------------- */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    height: 3.5rem;
    width: 100%;
    text-align: center;
    background-color: var(--secondary-bg-color);
}
footer h2, p{
    font-size: 0.9rem;
}



/* --------------------------------------------------------Index---------------------------------------------------- */

.home{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.task{
    height: 50%;
    width: 10%;
    background-color: var(--quaternary-bg-color);
}
.quotes_container {
    width: 50%;
    height: 100%;
    background-color:var(--quaternary-bg-color);
    padding: 30px 20px 0 0;    
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.slideshow-container {
    position: relative;
    width: 65%;
    height: 80%;
    z-index: 1;
    background-color: var(--quaternary-bg-color);
    border-radius: 50%;
    border: 1px ;
    overflow: hidden;
    visibility: visible;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 50%;
    transition: opacity 5s ease- out;
  }
  

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.slide.active {
    opacity: 1;
    animation: fadeInOut 15s infinite;
}
.section2{
    height: 100%;
    width: 100%;
    background-color: var(--secondary-bg-color);
    overflow: visible;
    z-index: -2;
}

.section2::before,
.section2::after {
    content: '';
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    background: inherit;
    z-index: -2;
    transform-origin: right top;
    transform: skewY(0deg);

}
.section2:after {
    transform-origin: left bottom;
    transform: skewY(-5deg);
}
/* ----------------------------------------------------Music---------------------------------------------- */
.music-icon img{
  position: relative;
    margin: 0.5rem 1rem 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 50%;
    background-color: var(--tertiary-bg-color);
    padding: 0.5rem;
    transition: transform 0.3s;
}
.music-player{
    display: flex;
    position: relative;
    text-align: center;
}
.music-icon img:hover {
    transform: scale(1.1);
  }
  
  .playlist-menu,
  .songs-list,
  .music-player-side {
    display: none;
    padding: 10px;
  }
  
  .playlist-menu {
    position: absolute;
    top: 5px;
    left: 95px;
    background-color: var(--tertiary-bg-color);
    border-radius: 5px;
    flex-direction: column;
  }
  
  .playlist-menu button{
    font-weight: 600;
  }
  
  .songs-list {
    position: absolute;
    top: 5px;
    left: 95px;
    background-color: var(--tertiary-bg-color);
    border-radius: 5px;
  }
  .songs-list button{
    background-color: var(--tertiary-bg-color);
  }
  
  .music-player-side {
    top: 50px;
    right: -20px;
    display: none;
    align-items: center;
    gap: 10px;
  }
  
  .playlist-menu button,
  .songs-list li {
    margin: 5px 0;
    padding: 10px;
    border: none;
    background: var(--bg-color);
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    list-style: none;
  }
  
  .playlist-menu button:hover,
  .songs-list li:hover {
    background: #e0e0e0;
  }
  
  audio {
    width: 250px;
    box-shadow: 0px 0px 2px rgb(42, 59, 40);
    border-radius: 50px;
  }
  
  .close-button {
    border: none;
    color: var(--text-color);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--quaternary-bg-color);
  }

  
.task-icon img{
  z-index: 2;
    margin: 0.5rem 1rem 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 50%;
    background-color: var(--tertiary-bg-color);
    padding: 0.5rem;
    transition: transform 0.3s;
  }
  .task-icon img:hover {
    transform: scale(1.1);
  }

.motivate{
  width: 40%;
}
.motivate p{
  padding-top: 7rem;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.tasks{
  position: relative; 
  display: inline-block;
}

.icon-link i {
  font-size: 24px; 
  color: #ff0000;
  transition: color 0.3s ease;
}

.icon-link i:hover {
  color: #cc0000; 
}

.tooltip {
  position: absolute;
  background-color: #bbbbbb;
  color: #000000;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap; 
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1; 
}
.tasks:hover .tooltip {
  opacity: 1;
  visibility: visible;
}



/* --------------------------------------------------Responsive----------------------------------------- */

@media (max-width: 895px) {
    .menu-icon {
        display: inline-block;
        cursor: pointer;
    }

    #main-nav {
        display: none;
        flex-direction: column;
        background: var(--quaternary-bg-color);
        position: absolute;
        top: 60px; 
        right: 10px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        z-index: 9999;
    }

    /* Show when active */
    #main-nav.show {
        display: flex;
    }

    /* Dropdown link styles */
    #main-nav a {
        text-decoration: none;
        color: var(--text-color);
        padding: 8px;
        border-bottom: 1px solid #e6e6e6;
    }
    #main-nav a:last-child {
        border-bottom: none;
    }
}

@media(max-width:1285px){
  header{
      height: 5rem;
      padding: 0 8% 0rem 12%;
  }
  .navbar a{
      width: 7rem;
      padding: 0.6rem;
      font-size: 1.3rem;
  }

  #profile{
      font-size: 40px;
      height: 4rem;
      width: 4rem;
      top: 2rem;
  }
  footer{
      padding: 2.5rem;
  }
  footer h2, p{
      font-size: 1.5rem;
  }
  .quotes_container {
      width: 70%;
      height: 100%;
  }
  .slideshow-container {
      width: 65%;
      height: 70%;
    }
}
@media(max-width:895px){
  #menu {
    display: none; 
    flex-direction: column;
    background: white;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 9999;
  }
  #menu.show {
    display: flex; 
  }

 
  header{
      height: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 8% 0rem 12%;
  }
  .navbar{
      display: none;
  }
  .navbar a{
      width: 7rem;
      padding: 0.6rem;
      font-size: 1.3rem;
      display: block;
      margin: 3rem 1rem;
      color: var(--text-color);
  }
  .nav-container{
      display: flex;
      justify-content: center;
      align-items: baseline;
  }
  .icon{
      margin-left: 0rem;
      border-radius: 50%;
  }
  #profile{
      font-size: 32px;
      height: 3rem;
      width: 3rem;
      text-align: center;
      position: relative;
      left: 0;
      top: 0;
      background-color: var(--bg-color);
      border: none;
  }
  footer{
      padding: 1.5rem;
  }
  footer h2, p{
      font-size: 0.6rem;
  }     
  .home{
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
  }
  .task{
      height: 50%;
      width: 80%;
      background-color: var(--quaternary-bg-color);
      visibility: hidden;;
  }
  .quotes_container {
      width: 80%;
      height: 40%;
  }
  
  .slideshow-container {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: var(--quaternary-bg-color);
      border-radius: 15px;
      border: 1px ;
      overflow: hidden;
    }
    
    .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 15px;
      transition: opacity 5s ease- out;
    }
    .section2{
      height: 100%;
      width: 100%;
      background-color: var(--secondary-bg-color);
      overflow: visible;
      z-index: -2;
  }
  
  .section2::before,
  .section2::after {
      content: '';
      width: 100%;
      height: 25%;
      position: fixed;
      bottom: 0;
      background: inherit;
      z-index: -2;
      transform-origin: right top;
      transform: skewY(0deg);
  
  }
  .section2:after {
      transform-origin: left bottom;
      transform: skewY(-5deg);
  }
  /* ----------------------------------------------------Music---------------------------------------------- */
  .music-icon img{
    position: relative;
      margin: 0.5rem 1rem 0.5rem 1rem;
      border: 2px solid black;
      border-radius: 50%;
      background-color: var(--tertiary-bg-color);
      padding: 0.5rem;
      transition: transform 0.3s;
      visibility: visible;
  }

  .music-icon img:hover {
      transform: scale(1.1);
    }
    
    .playlist-menu,
    .songs-list,
    .music-player-side {
      display: none;
      padding: 10px;
    }
    
    .playlist-menu {
      position: absolute;
      top: 5px;
      left: 95px;
      background-color: var(--tertiary-bg-color);
      border-radius: 5px;
      flex-direction: column;
      visibility: visible;
    }
    
    .playlist-menu button{
      font-weight: 600;
      visibility: visible;
    }
    
    .songs-list {
      position: absolute;
      width:auto;
      top: 5px;
      left: 95px;
      background-color: var(--tertiary-bg-color);
      border-radius: 5px;
      visibility: visible;
    }
    .songs-list button{
      background-color: var(--tertiary-bg-color);
      visibility: visible;
      width:auto;
    }
    
    .music-player-side {
      top: 50px;
      right: -20px;
      display: none;
      align-items: center;
      gap: 10px;
      visibility: visible;
    }
    
    .playlist-menu button,
    .songs-list li {
      margin: 5px 0;
      padding: 10px;
      border: none;
      background: var(--bg-color);
      cursor: pointer;
      border-radius: 5px;
      transition: background 0.3s;
      list-style: none;
      visibility: visible;
    }
    
    .playlist-menu button:hover,
    .songs-list li:hover {
      background: #e0e0e0;
      visibility: visible;
    }
    audio {
      width: 200px;

    }
    
  .task-icon img{
    visibility:hidden;
    }
  .motivate{
    width: 90%;
  }
  .motivate p{
    width: 100%;
    padding: 1rem;
    font-size: 12px;
    font-weight: 600;
    text-align: justify;
  }

}


.custom-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-btn:hover {
  background-color: #45a049;
}

.custom-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.custom-input:focus {
  border-color: #4caf50;
  outline: none;
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 100;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid #e6e6e6;
  color: #333;
  font-size: 14px;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}
.dropdown-menu a:last-child {
  border-bottom: none;
}

#menu {
  display: none; /* Hidden by default */
  position: absolute;
  top: 65px;
  right: 40px;
  background-color: var(--quaternary-bg-color);
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
}

#menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

#menu a:hover {
  background-color: var(--bg-color);
}

/* --------------------------------------------------Sign up--------------------------------------------- */

.signup-container, .login-container{
  width: 100%;
 display: flex;
 justify-content: center;
}

.signup, .login{
  width: 35%;
  background-color: var(--bg-color);
  list-style: none;
  padding: 1.5rem;
  border-radius: 1rem;
  align-items: center;
  margin: 2rem;
}
form ul{
  list-style: none;
  padding: 0.5rem 0;
}
form ul li{
  font-size: 13px;
  color: #5a5a5a;
}
form p{
  font-size: 13px;
  color: #5a5a5a;
  margin: 0.2rem 0;
}
form p label{
  font-size: 13px;
  font-weight: 600;
  color: var(--text-color);
}
form input{
  margin-top: 0.2rem;
}
form p a{
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);
}

@media(max-width:895px){
  .signup-container, .login-container{
    width: 100%;
  }
  .signup, .login{
  width: 100%;
  }

}

/* ---------------------------------------------------Activities------------------------------------------ */
.activity_item, .activity_item1{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.act_container, .act_para{
  width: 50%;
}
.act_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.act_container a{
    text-decoration: none;
    color: var(--quaternary-bg-color);
    font-weight: 600;
    font-size: 30px;
    text-shadow: 2px 2px 3px var(--text-color);
}

.act_para{
  text-align: justify;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_cont1{
  height: 15rem;
  width: 25rem;
  background-image: url("/static/CSS/images/Image 8.jpg");
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_cont2{
  height: 15rem;
  width: 25rem;
  background-image: url("/static/CSS/images/Image 9.jpg");
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_cont3{
  height: 15rem;
  width: 25rem;
  background-image: url("/static/CSS/images/Image 10.jpg");
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_cont4{
  height: 15rem;
  width: 25rem;
  background-image: url("/static/CSS/images/Image 11.jpg");
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.para_act{
  font-size: 18px;
  padding: 0 3rem;
}
.activity_item{
  opacity: 0.3; /* Initially invisible */
  transform: translateY(30px); /* Slight downward shift */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Smooth fade-in and slide-up */
}

.activity_item.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Original position */
  margin: 5vh auto;
}
.diary_heading{
  text-align: center;
  margin: 10px 30px;
  padding: 1rem;
}
.diary_form, .diary_p{
    margin: 10px 30px;
}
.diary_form label{
  font-weight: 600;
  font-size: 20px;
  border: none;
}
.diary_form input{
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#content {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.diary_btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.diary_btn:hover {
    background-color: #45a049;
}

.diary_div {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 30px;
}
.diary_head2{
  margin: 10px 30px;
  font-weight: 600;
  font-size: 20px;
}
.diary_icon1{
  background-color: var(--bg-color);
  border: 1px solid #ccc;
  width: 3rem;
  border-radius: 5px;
}
.diary_icon2{
  background-color: rgb(156, 31, 31);
  border: none;
  width: 3rem;
  border-radius: 5px;
}
.diary_preview {
  font-size: 14px;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 100%;
  display: block;
  margin-bottom: 5px;
}

.health-tracker, .appointments, .medications{
  height: 100%;
  width: 100%;
}
.notifications{
  margin-bottom: 40%;
}
.health-tracker h1, .appointments h1, .medications h1, .notifications h1{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
}
.health-tracker-form label {
  display: block;
  margin: 0.3rem 3rem;
  font-weight: 600;
}

.health-tracker-form input{
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 1px solid #808080;
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem 3rem;
}

.health-tracker-form textarea{
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem 3rem;
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 1px solid #808080;
}

.health-tracker-form button {
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem 3rem;
}

.health-tracker-form button:hover {
  background: #218838;
}
.health-tracker h2, .appointments h2, .medications h2{
  margin: 1rem 3rem;
}
table {
  width: 90%;
  border-collapse: collapse;
  margin: 1rem 3rem 0;
}

table, th, td {
  border: 1px solid #cfcfcf;
}

table th, table td {
  padding: 0.5rem;
  text-align: left;
}

.unread {
  font-weight: bold;
}
.appointments ul li, .medications ul li{
  margin: 0 3rem;
  list-style: none;
}
.notifications ul li{
  margin: 1rem 3rem;
}

.mini_games .mg{
  color: var(--text-color);
  height: 5rem;
  line-height: 5rem;
  text-align: center;
}


.mini_games .choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top:2rem;
}

.mini_games .choice{
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini_games .choice:hover{
  opacity: 0.8;
  background-color: var(--bg-color);
  cursor: pointer;
}

.mini_games .img_mg{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.mini_games .score_board{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

.mini_games #user_score, #computer_score{
  font-size: 4rem;
}

.mini_games .message_container{    
  margin: 4rem 0 3rem;
  text-align: center;
  
}

.mini_games #message{
  background-color: var(--bg-color);
  color: rgb(210, 210, 210);
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}

@media(max-width:895px){
  .activity_item, .activity_item1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .act_container, .act_para{
    width: 100%;
  }
  .act_container a{
    text-align: center;
  }
  #act_rev, #act_rev2{
    display: flex;
    flex-direction: column-reverse;
  }

}

/* ----------------------------------------------Exe/med------------------------------------------ */

.importance_of_meditation .medit{
  text-align: center;
  margin: 2rem;
  text-decoration: underline;
  font-size: 2.5rem;
}
.importance_of_meditation p{
  font-size: 18px;
}
.importance_of_meditation .medp{
  margin: 1rem 3rem;
}
.importance_of_meditation .medp2{
  margin: 1rem 0;
}
.importance_of_meditation .medit_h1{
  margin: 0 2rem;
}
.importance_of_meditation h2{
  margin: 2rem;
}
.importance_of_meditation ul li{
  margin-left: 2.5rem;
  list-style-type: decimal;
}
.importance_of_meditation ul li img{
width: 100%;
padding: 1rem 10rem 1rem 9rem;
}

.activity_meditation, .activity_exer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.actmed_para .actmed_container, .actexer_container .actexer_para{
  width: 50%;
}
iframe{
  border-radius: 1rem;
}
.para_medact{
  padding: 3rem;
  text-align: justify;
  font-size: 20px;
}
/* ----------------------------------------------Selfcare------------------------------------------ */
.self{
  height: 670px;
  background-image: url("/static/CSS/images/Selfcare.jpg");
  background-image:linear-gradient(to top, rgba(0, 0, 0, 0.878) 0, rgba(0, 0, 0, 0.404) 60%, rgba(0, 0, 0, 0.8) 100%), url("/static/CSS/images/Selfcare.jpg");
  background-size: cover;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.self p{
  color: var(--bg-color);
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 2px 2px 5px var(--text-color);
}
.self_care{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
}
.f, .p{
  width: 50%;
}
.f{
  padding: 4rem 4rem 6rem 4rem;
}
.f iframe{
  width: 100%;
  border: 1px solid var(--text-color);
}
.p p{
  padding: 2rem;
  font-size: 25px;
  text-align: justify;
}
.diet{
  padding: 2rem;
}
.diet h1{
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 2rem;
}
.diet p{
  font-size: 20px;
  text-align: justify;
}
.diet .heart{
  margin: 1rem;
}
.diet .heart li{
  margin-left: 1rem;
  font-size: 20px;
  color: #1a1a1a;
}
.diet h2{
  font-size: 2rem;
  margin: 2rem 0;
}
.diet img{
  border-radius: 50%;
}
.diet .main{
  list-style-type:decimal;
}
.diet .main li h3{
  margin: 1rem 0;
  font-size: 20px;
}
.diet .main li li{
  margin: 0.2rem 1.5rem;
  text-align: justify;
  color: #1a1a1a;
  list-style-type: disc;
}
.diet .tips li{
  margin: 0.5rem;
  list-style-type: decimal;
}
.scmh{
  padding: 2rem;
}
.scmh h1{
  margin: 1rem 0;
}
.scmh p{
  text-align: justify;
  font-size: 20px;
}
.scmh .selfcaretips li{
  margin: 0.5rem 1rem;
  text-align: justify;
  font-size: 20px;
  color: #1a1a1a;
}

.act_container2 {
padding: 2rem;
}
.act_container2 h1 {
  text-align: center;
  color: var(--tertiary-bg-color);
}

.act_container2 {
  max-width: 800px;
  margin: 0 auto;
  background: var(--bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.act_container2 .exercise {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: var(--quaternary-bg-color);
}

.act_container2 label {
  display: block;
  margin: 10px 0 5px;
}

.act_container2 input, .act_container2 textarea, .act_container2 button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.act_container2 button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.act_container2 button:hover {
  background-color: #45a049;
}

