<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="\static\CSS\styles.css">
</head>

<body>
    <div class="signup-container">
        <div class="signup">
            <h2>Sign Up</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="custom-btn">Sign Up</button>
                <p>Already have account? <a href="{% url 'login' %}">Login</a></p>
            </form>
        </div>
    </div>
</body>

</html>